/* Strong cyan: hsl(172, 67%, 45%)  ### Neutral  - Very dark cyan: hsl(183, 100%, 15%) - Dark grayish cyan: hsl(186, 14%, 43%) - Dark grayish cyan: hsl(184, 14%, 56%) - Light grayish cyan: hsl(185, 41%, 84%) - Light grayish cyan: hsl(189, 41%, 97%) - White: hsl(0, 0%, 100%)  */

:root{
    --main: hsl(183, 100%, 15%);
    --sec: hsl(172, 67%, 45%);
    --third: hsl(186, 14%, 43%); 
    --four: hsl(184, 14%, 56%);
    --fifth: hsl(189, 41%, 97%);
    --six:hsl(0, 0%, 100%);
}

*{
    font-family: 'Space Mono', monospace;
}

body{
    background-color: hsl(185, 41%, 84%);
}

input{
    background-color: hsl(189, 41%, 97%);
    border: none;
    padding: 16px;
    border-radius: 10px;
}

.bg-custom-white{
    background-color: hsl(0, 0%, 100%);
}

.bg-custom-main{
    background-color: var(--main);
}

.rounded-custom{
    border-radius: 20px;
}

.text-grey-custom{
    color: var(--third);
}
/* @mixin placeholder-style {
    color: lighten($base-color, 39%);
} */

.box{
    width: 28%;
    margin: 5px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    height: 32px;
    align-items: center;
    box-shadow: 2px 2px 5px rgb(176, 176, 176);
}


.btn-reset{
    border:none;
    margin: 0 auto;
    border-radius: 12px;
    background-color: var(--third);
    color: white;
    height: 50px;
    margin-top: 35%;
}
